.burger-menu {
  background-color: #002aff;
  color: white;
  padding: 15px 12px !important;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 60px;
  height: 13px;
  position: relative;
  top: 0.4vw;
  right: 0vw;
}

.button {
  background: rgb(255, 255, 255);
  transition: width 0.5s;
  user-select: none;
}

.button-1 {
  width: 30px;
  margin-right: 3px;
}

.button-2 {
  width: 3.5px;
  margin-right: 3px;
}

.button-3,
.button-4 {
  width: 13.75px;
  margin-right: 2px;
}

.menu-overlay {
  transition: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
  width: 0;
  height: 0;
  background-color: rgb(255, 255, 255);
}

.menu-overlay.is-active {
  pointer-events: all;
  overflow: hidden;
  pointer-events: all;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.menu-overlay-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.fermer-menu {
  margin: auto;
}

.menu-overlay a {
  color: black;
  font-family: HelveticaNeue;
  font-size: 8.75vw;
  line-height: 10.5vw;
  text-decoration: none;
  padding-left: 3.75vw;
}

.s-1,
.s-2,
.s-3,
.s-4,
.s-5 {
  width: 100%;
  background-color: white;
  height: 25vh; /* Modifiez la hauteur selon vos préférences */
  border: 1px solid #979797;
  overflow: hidden;
  padding-top: 11vh;
}

@media (max-width: 1330px) {
  .s-1,
  .s-2,
  .s-3,
  .s-4,
  .s-5 {
    padding-top: 14vh;
  }
}

@media (max-width: 1100px) {
  .s-1,
  .s-2,
  .s-3,
  .s-4,
  .s-5 {
    padding-top: 15vh;
  }
}

.s-sous-menu {
  display: flex;
  flex-direction: row;
}

.sous-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.s-4,
.s-5 {
  flex-direction: row;
}

.sous-menu a:hover {
  transform: none;
}

.s-1:hover,
.s-2:hover,
.s-3:hover,
.s-4:hover,
.s-5:hover {
  background-color: #002aff;
  a {
    color: white;
    font-family: Redaction35-Italic;
  }
}
/* ------------------------------------------------------------ */

.s-1,
.s-1,
.s-2,
.s-3,
.s-4,
.s-5 {
  position: relative;
  width: 100%;
  background-color: white;
  height: 25vh;
  border: 1px solid #979797;
  overflow: hidden;
  padding-top: 11vh;
  transition: height 0.5s;
}

.s-1:hover,
.s-2:hover,
.s-3:hover,
.s-4:hover,
.s-5:hover {
  height: 35vh;
}

.s-1 img,
.s-2 img,
.s-3 img,
.s-4 img,
.s-5 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  transition: opacity 0.5s;
  opacity: 0;
}

.s-1:hover img,
.s-2:hover img,
.s-3:hover img {
  opacity: 1;
  left: 1100;
  transform: translate(0, -50%);
}

.s-4:hover img {
  opacity: 1;
  left: 500;
  transform: translate(0, -50%);
  width: 100%;
}

.s-5:hover img {
  opacity: 1;
  left: 700;
  transform: translate(0, -50%);
  width: 100%;
}
