.eikonica-logo {
  background-color: black;
  img {
    width: 5.3vw;
  }
}

.header {
  border-bottom: 1px solid #ffffff;
  div {
  }
  .title-header {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    height: 480px;
    position: relative;
    padding: 0;
    border: 0;
    video {
      position: absolute;
      bottom: -55;
      padding-left: 38px;
    }
    img {
      position: absolute;
      max-width: 100%;
      bottom: -2;
    }
  }
}
