.last-year {
  .last-year-title {
    padding: 5px 0 5px !important;
    color: white;
    background-color: #000000;
  }
  h3 {
    font-family: HelveticaNeue;
    font-weight: 400;
    font-size: 175px;
    line-height: 147px;
    span {
      font-family: HelveticaNeue;
      font-weight: 800;
      font-style: italic;
      font-size: 175px;
      color: #ffffff;
      line-height: 147px;
    }
  }
}

.year {
  padding: 0 !important;
}

.year-2022 {
  height: 15.313vw;
  overflow: hidden;
  background-color: #e6e6e6;
  width: 100%;
  position: relative;
  img {
    width: 100%;
  }
}

.year-2021 {
  height: 15.313vw;
  overflow: hidden;
  background-color: #ff0c0c;
  width: 100%;
  position: relative;
  img {
    width: 100%;
  }
}

.year p {
  font-family: HelveticaNeue-BoldItalic;
  font-size: 8.813vw;
  color: #002aff;
  letter-spacing: 13.26px;
  text-align: right;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 7.375vw;
  span {
    color: #002aff;
    font-family: Redaction100-Italic;
  }
}

.year-2022 p {
  position: absolute;
  right: 0;
  top: 7.375vw;
}
