.newsletter-texte {
  background: #000000;
  color: white;
  h5 {
    font-family: PPNeueBit-Bold;
    font-size: 51px;
    letter-spacing: 6.52px;
    padding: 98px 0 0 6vw;
  }

  p {
    font-family: HelveticaNeue;
    font-size: 25px;
    letter-spacing: 0.53px;
    padding: 3vw 19.375vw 0 6vw;
  }
}

.newsletter-img {
  padding: 0 !important;
  img {
    width: 100%;
  }
}
